body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.logo-principal {
    width: 150px;
    height: 150px;
}

.parrafo-principal {
    font-size: 1.2em;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 410%;
    
    animation: cambio 20s infinite normal;
    animation-timing-function: ease-in;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 1100px;
    padding: 10px 25em;
    border-radius: 29px;
}

.caja {
    width: 840px;
    position: relative;
    margin: 0 auto;
}
.caja img{
    display: inline;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

footer {
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 40px;
}

.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 1em;
    clear: left;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

/* COLORES NEON */
.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgb(140, 37, 37);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
  
.button:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.diferenciales {
    background: #FEFEFE;
    padding: 3em 0;
}

.contenido-diferenciales {
    width: 520px;
    margin: 0 auto;
    
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items {
    line-height: 2.5;
}

.items:before {
    content: "★";
}

.items:first-child {
    font-weight: bold;
}

.imagen-diferenciales {
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
   
}

.imagen-diferenciales:hover {
    opacity: 0.3;
}

.mapa {
    padding: 3em 0;
    background: #888888;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
    font-size: 1.5em;
}

.mapa-contenido {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.d-flex a{
    margin-left: 10px;   
}

/* RESPONSIVE SmartPhone */
@media screen and (max-width: 767px){
    body{
      min-width: 100%;  
    }
    .mapa-contenido {
        width: 540px;
        height: 300px;
        margin: 0 auto;
        text-align: center;
        padding: 1px 5px;
    }
}

/* ESTO ES PARTE DEL SLIDER PARA LAS TRANSICIONES */
@keyframes cambio {

    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* SLIDER SmartPhone */
@media screen and (max-width: 767px){
    *{
      max-width: 500px;  
    }
    .slider img {
        width: 800px;
        padding: 10px 0em;
        border-radius: 29px;
    }
}



